<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Client</h1>
    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>phone</td>
            <td>birth</td>
        </tr>
        <tr>
            <td th:text="${client?.id}" />
            <td th:text="${client?.name}" />
            <td th:text="${client?.phone}" />
            <td th:text="${client?.birth}" />
        </tr>
    </table>

    <br />
    <a th:href="@{/}">home</a>
</body>
</html>