<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>List of Companies</h1>
    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>founder</td>
            <td>specialty</td>
        </tr>
        <tr th:each="company: ${companies}">
            <td th:text="${company?.id}" />
            <td th:text="${company?.name}" />
            <td th:text="${company?.founder}" />
            <td th:text="${company?.specialty}" />
            <td><a th:href="@{/company/{id}(id=${company?.id})}">link to company</a></td>
            <td><a th:href="@{/company/delete/{id}(id=${company.id})}">delete company</a></td>
        </tr>
    </table>

    <br />
    <a th:href="@{/}">home</a>
</body>
</html>