<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Employee</h1>
    <table>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>occupation</td>
            <td>salary</td>
        </tr>
        <tr>
            <td th:text="${employee?.id}" />
            <td th:text="${employee?.name}" />
            <td th:text="${employee?.occupation}" />
            <td th:text="${employee?.salary}" />
        </tr>
    </table>

    <br />
    <a th:href="@{/}">home</a>
</body>
</html>